.Map{
	text-align: center;
	background-color: #CCCCCC;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.Map table{
	width: 90%;
	height: 90%;
	margin: 5%;
	background-color: #a2d9ff;
	position: absolute;
}

