.ShowMap{
	position: relative;
	display: block;
	text-align: center;
	border: solid 1px #999999;
	border-radius: 10px;
	background-color: #CCCCCC;
	height: 400px;
	width: 100%;
	padding-bottom: 100%;
	
}

.ShowMap table{
	width: 90%;
	height: 90%;
	margin: 5%;
	background-color: #CCCCCC;
	position: absolute;
	/*position: absolute;
	width: 30%;
	height: 80%;
	margin: 2%;
	background-color: #333333;*/
}


.ShowMap.selected{
	background-color: #8ed0ff;
}

